[2020-03-15 23:33] dbismut opened #2 "API sends wrong height and aspectRatio after transform"
Hey, this might be an API bug but I thought I would report it here:

I'm querying an image with the following transforms:

[code]

The response from the API gives be the following object:

![image](https://user-images.githubusercontent.com/5003380/76712918-32126400-671d-11ea-9618-b78750f095fd.png)

Notice the height which is `639` when it should be `1280`. Aspect ratio is therefore also wrong.

Th

[2020-03-16 10:09] matjack1 commented on #2
hey @dbismut but the original image width is 639 so we are returning that as that's the maximum you can get? Does that makes sense?

[2020-03-16 10:44] dbismut commented on #2
Hm no it doesn't make sense since the image returned by imgix has a height of `900`. The docs say height and width are post transform. The problem with this is that you're returning the correct width and the wrong height and wrong aspect ratio.

That makes react-datocms interpret the image like so:

![image](https://user-images.githubusercontent.com/5003380/76748527-31a8b600-677b-11ea-8ac5-815ba41

[2020-03-16 11:12] matjack1 commented on #2
Makes sense, let me check what we should do here

[2020-03-17 07:47] stefanoverna commented on #2
Thanks @dbismut, we have fixed this! :)

[2020-03-17 07:47] #2 closed

[2020-03-24 03:39] cj opened #3 "Issue with transparent images"
The placeholder image (base64) still shows behind a transparent image.  A solution might be to set display none once loaded.

https://share.getcloudapp.com/RBudkbQq

[2020-03-24 04:54] cj commented on #3
Actually if you add a css transition to the placeholder and then add a `visibility: hidden;` it works really well.

This patch works great for now https://gist.github.com/cj/462331ac9c132b6c5fe23042425c44c6

(I use tailwind).

[2020-03-24 09:01] stefanoverna commented on #3
Fixed in last version!

[2020-03-24 09:06] #3 closed

[2020-03-31 21:33] e-karma opened #5 "Can't pass children to component to use as a background image"
Looking at the output CSS, it creates a background-image several nested divs in, but you can't pass nested children through it.  Enabling an image-background component with text / CTA's over it would be incredibly helpful!  Thanks for your work otherwise.  Keep up the good work!

[2020-04-02 08:16] pauloborges opened #6 "Progressive image doesn't work on browsers without IntersectionObserver API"
To verify you can visit https://react-datocms-example.netlify.com/ on an iPhone with iOS/Safari version 12. If you don't have such device you can use something like [browserstack.com](https://www.browserstack.com/).

It breaks due to some browsers not having the [IntersectionObserver API](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API). The dependency on this API isn't

[2020-04-02 14:10] matjack1 commented on #6
Thank you @pauloborges. Your observation makes total sense, we'll investigate as soon as possible!

[2020-04-27 15:53] matjack1 commented on #5
thank you for the suggestion! We've noted that down for future developments

[2020-04-28 13:49] jdozierezell opened #7 "Invalid element type"
I'm receiving the following error when using the Image component:

```Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.```

Below is the object that's being passed through data to

[2020-04-29 08:25] matjack1 commented on #7
@jdozierezell can you also share the code in which you are using your component so that we can get a bit more context to your problem?

[2020-04-29 10:22] jdozierezell commented on #7
Sure thing. Here's the component and the query. I'm trying to swap out gatsby-source-datocms for gatsby-source-graphql as well to cut down bandwidth, which is why there are two queries here.

[code]
[code]

[2020-04-29 12:52] matjack1 commented on #7
Make sure that you are importing

`import { Image } from "react-datocms";`

and then use the `<Image>` component, not `<Img>`?

If the project is open you can share a pull request and I can have a look!

[2020-05-05 14:48] gboston opened #8 "IE11 support"
Is there some degraded support for IE11? Seem to be some issues with intersection-observer and Fetch API?

[2020-05-06 06:27] matjack1 commented on #8
we should support it @gboston we'll have a look as soon as possible!

[2020-05-07 07:29] stefanoverna commented on #6
@pauloborges v1.2.2 should now work, could you please try it and report back? 😄

[2020-05-07 07:30] stefanoverna commented on #8
@gboston  v1.2.2 should now work, could you please try it and report back? 😄

Also, closing as duplicate of #6

[2020-05-07 07:30] #8 closed

[2020-05-07 17:19] followbl opened #9 "Image Resize Bug 1.2.1 => 1.2.2"
Hello - love datocms and have been really happy with how easy it has been to get started and setup. We have a pretty 1:1 setup w/ the example in the nextjs/examples dir, but upon upgrading from 1.2.1 => 1.2.2 something has gone wrong with our image-resizing.

I looked through the changelogs and commits logs with the latest and didn't see anything glaring.

I've attached before and afters...since w

[2020-05-07 18:23] stefanoverna commented on #9
Hi! Any chance you can paste the snippet of the code you're using to generate one of the images, and pass us the resulting HTML+CSS of the page (File > Save page as... > Web page, complete)?

--- original message ---
On Thu, May 7 at 07:19 PM, <notifications@github.com> Brad Larson wrote:

Hello - love datocms and have been really happy with how easy it has been to get started and setup. We have a

[2020-05-07 19:40] followbl commented on #9
absolutely @stefanoverna

[code]

Here's the fetch for the homepage

[code]

[2020-05-07 20:54] stefanoverna commented on #9
@followbl could you please try with 1.2.4? should be solved now.. pretty hard to make placeholders work in universal mode, lazy loaded, correctly sized, and with IE11 support :)

[2020-05-07 21:14] followbl commented on #9
I feel your pain - and I don't wish IE11 support on my worst enemy.

Your fix works perfectly. Thank you, closing the issue 🚀

[2020-05-07 21:14] #9 closed

[2020-05-07 21:57] #6 closed

[2020-05-18 09:58] derjohnschmidt opened #10 "Child img element with no alt-attribute"
Hey there!

I'm using `react-datocms^1.2.4` currently on my Next.js `next^9.4.0` application. I've noticed, that the `Image` component renders a transparent `img` element within the parent `div` element:
[code]
What I'm missing is an decorative `alt` attribute or an option to customize hence it disturbs the accessibility of the page. Is there any way to fix this on my side?

[2020-05-18 10:50] stefanoverna commented on #10
Not at the moment.. what would be the correct way to handle this image from an A11y point of view?

—
Stefano Verna

DatoCMS

--- original message ---
On May 18, 2020, 11:58 AM GMT+2 notifications@github.com wrote:

Hey there!

I'm using react-datocms^1.2.4 currently on my Next.js next^9.4.0 application. I've noticed, that the Image component renders a transparent img element within the parent div

[2020-05-18 11:50] derjohnschmidt commented on #10
Maybe this little tweak could help? #11

[2020-05-18 16:21] jordykoppen commented on #10
An empty alt would still fail tests if you test for basic a11y. On top of that, it isn’t a screen reader friendly alternative either.

@stefanoverna what is the transparent img tag for?

[2020-05-18 16:27] derjohnschmidt commented on #10
Other than that I'd just have a `role="presentation"` attribute in terms of a11y in mind. Thoughts?

[2020-05-18 18:36] stefanoverna commented on #10
The image is for properly size the real image before it actually loads. I'm OK with role=presentation, seems the best to me!

--- original message ---
On Mon, May 18 at 06:28 PM, <notifications@github.com> John Schmidt wrote:

Other than that I'd just have a role="presentation" attribute in terms of a11y in mind. Thoughts?

—

You are receiving this because you were mentioned.

Reply to this email

[2020-05-18 18:59] jordykoppen opened #12 "Full screen images"
Currently I'm trying to make a hero on my page that displays a full screen image. Traditionally, I can do this with setting a background url or giving an image height 100% and using object-cover to scale properly. Of course this approach would take away the lovely progressive loading which I'm here for 😁

I wonder if it is possible to get extra config on the Image component to achieve this behavio

[2020-05-19 04:03] #10 closed

[2020-05-19 04:05] stefanoverna commented on #12
Hi! Making this a duplicate of #5 :)

[2020-05-19 04:05] #12 closed

[2020-05-19 04:09] stefanoverna commented on #7
Closing due to inactivity

[2020-05-19 04:09] #7 closed

[2020-12-10 12:16] supryantowp opened #15 "is it possible to use it in next js?"
its work fine. but when i try to in getStaticProps and getStaticPaths i got an error

[2020-12-11 10:06] matjack1 commented on #15
hey @supryantowp can you please share some code to see what are you trying to do?

[2020-12-18 14:57] BrunoQuaresma opened #16 "How to pass multiple sizes for the responsive image query?"
Hey, I would like to load three diff sizes of an image(one for mobile, another one for tablet and another for desktop) to use with the `Image` component but it is not clear to me how to do that in the graphQL query. I would expect to `imgixParams` receive an array with multiple sizes 🤔.

[2020-12-18 15:06] BrunoQuaresma commented on #16
I found the answer here: https://www.datocms.com/docs/content-delivery-api/images-and-videos#responsive-images

[2020-12-18 15:06] #16 closed

[2020-12-18 20:46] BrunoQuaresma opened #17 "fadeInDuration is not working"
I tried to use fadeInDuration with a diff value but this is not working. You can try using `fadeInDuration={999999}` and you will see the duration is the same.

[2020-12-21 10:17] matjack1 commented on #17
Thank you @BrunoQuaresma we are going to try reproducing and get back to you

[2021-01-04 08:55] stefanoverna commented on #17
Hey @BrunoQuaresma sorry for the delay, but seems to be working for me.. :/
Any ideas how we can reproduce it?

![2021-01-04 09 48 50](https://user-images.githubusercontent.com/51573/103517452-6d2f8080-4e72-11eb-99f9-cfd2c947c8c7.gif)

[2021-01-04 08:56] stefanoverna commented on #17
I'm gonna close this for now, but feel free to reopen if you have more info to share!

[2021-01-04 08:56] #17 closed

[2021-01-04 08:56] stefanoverna commented on #15
I'm gonna close this for inactivity.. feel free to reopen!

[2021-01-04 08:56] #15 closed

[2021-01-19 04:19] tundera opened #19 "Next.js + Live Preview error using `getStaticProps` and `useQuerySubscription`"
Hey I'm getting this error when I try to set up the `useQuerySubscription` hook in a Next.js project built with TypeScript. It seems to be happening because the `subscription` prop is undefined, or some nested value within is undefined, but I don't know why. Doesn't seem debuggable either 😢...here's the error message I'm getting when I try to hit the `/blog/[slug].tsx` page in preview mode:

<img

[2021-02-11 08:23] stefanoverna commented on #19
Hey @tundera sorry for the delay! Did you happen to delete the repo?

[2021-02-11 08:29] stefanoverna commented on #19
Seems to me that you were using a `gql` query.. something like this:

[code]

`gql` is not serializable into JSON, so you should convert it to string before passing it down as a prop to `getStaticProps`!

I'm gonna close this for now, feel free to reopen if needed ok?

[2021-02-11 08:29] #19 closed

[2021-02-24 21:38] fabiokandrade opened #21 "Structured text - Horizontal Rule "thematicBreak" type render error"
`<StructuredText />` does not have a default render for Horizontal Rules.

error:
[code]

Manually adding a custom rule solves the problem:
[code]

[2021-02-25 06:57] stefanoverna commented on #21
Thanks for noticing @fabiokandrade, v1.5.5 fixes this!

https://github.com/datocms/react-datocms/releases/tag/v1.5.5

[2021-02-25 06:57] #21 closed

[2021-03-03 12:06] thierry-rietsch opened #22 "Add width and height to HTML img element to comply with Lighthouse speed test"
When using the Image element from react-datocms, the generated image tag does not contain a width and height. When running a Google Web.Dev measure, then the missing properties on the image tag lead to the issue "Image elements do not have explicit width and height". This is considered by Google as pretty suboptimal.

Would it be possible to add those attributes on the image tag, so the browser co

[2021-03-03 12:19] stefanoverna commented on #22
Hey @thierry-rietsch, this is actually a false alarm from PageSpeed :)

Instead of using explicit width/height on the image itself — which would prevent this component from working in fluid layouts where the image has to take the full width, we use a different method to pre-compute layout thrashing, which is to create an empty SVG image embedded in base64 (so immediately available) that takes the

[2021-03-03 12:19] #22 closed

[2021-03-03 12:20] thierry-rietsch commented on #22
Yeah, thought so that a fixed width and height is suboptimal. Thanks for the reply and keep up your great work!

[2021-03-04 12:16] julienben opened #23 "[FEATURE] Allow ability to provide alt manually"
Hey there!

In some images, we don't require the `alt` attribute to be added to the image in Dato. Instead, we want to provide it from a different field.

I'll give you an example: We have a list of employees on our site. The `alt` can simply be the name of the employee, we don't want to duplicate the name in the `alt` field for each image.

In order to "hack" it, we do this:

[code]

Would it mak

[2021-03-04 15:28] stefanoverna commented on #23
Hi! Your current solution seems totally fine! Having two places where you can specify `alt` seems even more confusing to me (not immediately clear how the two interact) 😕

[2021-03-04 15:28] #23 closed

[2021-03-11 20:15] JosBroers opened #24 "Type error: Property 'slug' does not exist on type 'unknown'."
I'm trying to use Next.js with the new structured content in TypeScript. While running `next dev` everything works as expected, but when running `next build` I'm getting an error which I can't figure out.

My packages:

[code]

The error:

[code]

My code:

[code]

My query:

[code]

[2021-03-12 07:50] stefanoverna commented on #24
In our tests you can see that you can specify a type for the records and blocks that will be present in `links` and `blocks`:

https://github.com/datocms/react-datocms/blob/master/src/StructuredText/__tests__/index.test.tsx#L81-L97

[code]

I think this could also work, if you don't want to bother with types:

[code]

[2021-03-12 22:33] #24 closed

[2021-04-19 09:17] bramvdpluijm opened #27 "Webpack 5 support"
Currently react-datocms doesn't seem to support Webpack 5.

## Process:

1. Enable webpack 5
2. Import Image module (import { Image } from "react-datocms";)

## Expected result:
react-datocms should support webpack5 in order to be future proof

## Current result:
When enabling webpack 5 and importing the Image module from react-datocms package, an error is thrown `ReferenceError: module is not def

[2021-04-20 10:59] stefanoverna commented on #27
Are you using Next.js? Which version of react-datocms and next packages do you have?

[2021-04-20 11:06] stefanoverna commented on #27
Just tested our Next.js demo with webpack 5 enabled, and everything works.

https://www.datocms.com/marketplace/starters/nextjs-blog

I'm going to close this, but I'll follow the issue, so if you have more info feel free to share them here!

[2021-04-20 11:06] #27 closed

[2021-04-23 20:01] wildpow opened #28 "Package is not tree-shakeable. Need to use exact import or the entire package will be bundled."
It's a bit above my head to know if a project is tree-shakeable or not, so I turn to Bundlephobia for this assurance. Not sure how accurate this feature is, but this package is listed as being not tree-shakeable [here](https://bundlephobia.com/result?p=react-datocms@1.6.0). Is this incorrect, or should I be using a different method to determine if a project is indeed tree-shakeable?

[2021-04-23 21:37] wildpow commented on #28
Well, I believe I answered my question. Using the import suggested in the docs adds 26.8Kb to a production bundle.

### Using the import `import { StructuredText } from "react-datocms";`
![Screen Shot 2021-04-23 at 2 33 41 PM](https://user-images.githubusercontent.com/17464319/115931974-ef9f7880-a440-11eb-9710-cc48f1c4e982.png)
----------
### Using the import `import { StructuredText } from "react

[2021-04-26 09:38] stefanoverna commented on #28
Hey, v1.6.3 should be tree-shakable, at least from my experiments!

[2021-04-26 09:38] #28 closed

[2021-05-06 12:06] timuric opened #29 "StructuredText creates non unique keys with new lines"
When elements contain new lines component creates non unique keys

Check console in this sandbox:
https://codesandbox.io/s/inspiring-dhawan-797nb?file=/src/App.tsx

[code]

[2021-05-07 14:27] stefanoverna commented on #29
Hey @timuric we've just released datocms-structured-text-generic-html-renderer v1.1.4 which solves this issue!

Thanks for reporting!

[2021-05-14 09:48] jbtheard opened #30 "[feature request] equivalent lib for React Native?"
Hey there,
Very helpful lib to integrate Dato CMS on any react platform.

Especially, Structured Text is a brilliant new addition

But I havent seen any support for React Native on the matter. And yet I'd like my structured content to be consumed on native mobile Apps. As it's mostly a matter of translating DO elements to RN components, it shouldnt be too difficult to adapt your library to RN

Jus

[2021-05-22 22:53] thebuilder opened #31 "Consider removing IntersectionObserver from bundle"
I understand the `intersection-observer` polyfill was added to the package in #6, which does fix the issue on old browsers.
But, would it better to inform users about how to include the polyfill if older browsers needs to be supported? Since iOS 12.2 (March 2019) it's supported natively in all modern browsers: https://caniuse.com/intersectionobserver

Right now the `intersection-observer` polyfill

[2021-05-23 08:42] thebuilder commented on #31
You could also combine the `IntersectionObserver` check, with a check for `loading="lazy"` support - if the browser supports native lazy loading, you could skip creating the observer, and defer the work directly to the `<img>`.

See https://github.com/thebuilder/react-intersection-observer/blob/master/docs/Recipes.md#lazy-image-load for how this can be accomplished.

[2021-06-09 14:06] wjeliot opened #32 "Default renders from StructuredText can not be styled with styled-jsx"
I have a Structured Text field in my record. Inside it, there is some text in p, h2, blockquote, and h3 tags. There is also a block inside of which I have a 'Multi-paragraph text' field. So, the schema looks like this:

Every part of the HTML returned by the <StructuredText> React component can be styled with global, standard CSS. And when I use the `customRules` prop to provide my own renderers –

[2021-06-10 08:30] stefanoverna commented on #32
Hey! Take a look at styled-jsx README, this is actually a "feature" of styled-jsx:

![Screenshot 2021-06-10 at 10 25 23](https://user-images.githubusercontent.com/51573/121491394-31c35000-c9d6-11eb-88a2-1a94141d37c9.png)

Styles are applied only to tags directly rendered by the component itself. [Following their guide](https://github.com/vercel/styled-jsx#styling-third-parties--child-components-fr

[2021-06-10 08:30] #32 closed

[2021-06-17 14:46] thebuilder opened #33 "StructuredText Types can't tell links and blocks apart"
Trying to build a StructuredText block that contains both `blocks` and `links` - The output of this works fine, but the actual types are throwing errors.

[code]

This throws a huge error on the `data` field.

[code]

TLDR, I think it boils down to the last part:
[code]

The `renderInlineRecord`, `renderLinkToRecord` and `renderBlock` are checking for all possible records instead of just `links["_

[2021-06-18 12:06] stefanoverna commented on #33
Hi @thebuilder, please take a look at this TS test:

https://github.com/datocms/react-datocms/blob/master/src/StructuredText/__tests__/index.test.tsx#L129-L227

We're using both links and blocks, and every type seems to be working there, so I'm afraid I have to ask you to share a small project that reproduces the error you're mentioning.

Thanks!

[2021-06-18 14:12] thebuilder commented on #33
I'll see what I can do.

[2021-06-18 18:31] thebuilder commented on #33
I'm generating the queries with https://graphql-code-generator.com, so it could be related to how the types are generated there - But they are otherwise perfect.

[2021-09-01 21:39] arcataroger opened #35 "<Image> component doesn't know how to handle SVGs"
SVG files, which can be selected in the asset picker in DatoCMS, break the <Image> component because they don't have `responsiveImage` data in the GraphQL API. It's fine if [Imgix transformations can't be applied to SVG files](https://community.datocms.com/t/imgix-enable-svg-as-input-format/1743), but could the React component at least pass through the SVG file and let the browser handle rendering

[2021-09-02 09:01] matjack1 commented on #35
Yes @arcataroger I agree with you! We should handle SVGs without breaking. I'll add this to our backlog

[2021-09-02 14:39] arcataroger commented on #35
Great, thank you!

[2021-09-06 15:17] stefanoverna commented on #35
My 2c:

* We cannot render a fallback native `<img>` for SVG files as `.responsiveImage` is `null`, so we don't have any information via props to use as `src` attribute for the tag.
* Changing behaviour for SVG files might be surprising and would require new styling props to handle the case.
* Silently swallowing the error an rendering nothing might be an option, but I'm not sure if it's better th

[2021-09-07 15:19] arcataroger commented on #35
Stefano brings up good points. Adding more complexity to support SVGs would probably result in more confusion and bugs later, especially since it's handled differently by different browsers and frameworks.

Probably just adding a default "raster images" validation would make this simpler while still preventing breakage?

[2021-11-18 09:26] aleszorc commented on #30
The StructuredText component is really amazing. I too would love to see a React Native equivalent.

Keep up the good work!

[2021-12-19 09:36] dbismut opened #38 "Consider adding callback to Image load / shown events or styling"
Maybe this can be already achieved with the given API, but I'd like to apply a specific animation to an image when it's loaded and in view the first time. Currently, since it doesn't seem `Image` accepts ref forwarding, this means that one has to wrap the Image inside another `div`, which is a potential mess up when it comes to image position (and I'm not even sure this would suffice anyway).

[2021-12-19 11:49] stefanoverna commented on #38
👍 Would you be able to work on a PR David?

—
Stefano Verna
Founder and CEO @ DatoCMS

--- original message ---
On December 19, 2021 at 10:36 AM GMT+1 ***@***.*** wrote:

Maybe this can be already achieved with the given API, but I'd like to apply a specific animation to an image when it's loaded and in view the first time. Currently, since it doesn't seem Image accepts ref forwarding, this means

[2021-12-19 18:23] dbismut commented on #38
Sure, as soon as I have some time off!

[2021-12-20 20:13] dbismut commented on #38
@stefanoverna what's the best way to setup a dev environment with this repo?

[2021-12-30 09:01] stefanoverna commented on #38
Hey @dbismut sorry for the delay. We've added some help here: https://github.com/datocms/react-datocms#development
Is that enough? :)

[2021-12-30 09:44] dbismut commented on #38
That's great thanks :)

Would you be open to moving to a more modern repo architecture? I've had good results with `preconstruct`, and there's now `turborepo` that could also work.

You would spawn examples from a Vite server, every package is linked and watched effortlessly. You could also tie examples with codesandbox which would probably make it easier for you to manage PR.

And finally I find

[2021-12-30 10:00] stefanoverna commented on #38
Definitely open, the only fear is moving to some solution that will become old/unsupported too soon, so the more lightweight it's the tooling, the better :) I've heard good things about turborepo too!

[2022-01-03 11:50] #38 closed

[2022-01-03 11:54] dbismut opened #42 "[Image component] What's the best strategy to fill parent?"
Hi again, what would be the best strategy to fill a parent?
Something like `next/image` `layout="fill"` prop?

[2022-01-04 11:54] stefanoverna commented on #42
I'm thinking about adding the same `layout` prop: https://github.com/datocms/react-datocms/pull/43

Any thought?

[2022-01-04 11:56] stefanoverna commented on #42
This would be a breaking change, so we should bump a major version

[2022-01-04 19:34] dbismut commented on #42
Indeed... But I agree this would be the perfect solution.

[2022-01-05 12:08] stefanoverna commented on #42
Done, released as 2.0.1!

[2022-01-05 12:08] #42 closed

[2022-01-21 13:10] marcello-palmitessa opened #44 "SeoMetaTagType no more available in v2.2.x"
Hi,
The type SeoMetaTagType has been removed in the latest releases, why ? This is breaking a big part of my application ....

[2022-01-21 13:15] stefanoverna commented on #44
We added more specific types, you should probably replace it with `SeoOrFaviconTag`!

https://github.com/datocms/react-datocms/blob/master/src/Seo/types.tsx

[2022-01-21 13:15] #44 closed

[2022-01-21 13:15] stefanoverna commented on #31
Done in 3.0.0!

[2022-01-21 13:15] #31 closed

[2022-01-21 13:19] stefanoverna commented on #5
Take a look at the new option `layout="fill"`, should be helpful to solve your use case!

[code]

https://github.com/datocms/react-datocms#layout-mode

[2022-01-21 13:19] #5 closed

[2022-01-21 13:19] stefanoverna commented on #35
Closing the issue from this side!

[2022-01-21 13:19] #35 closed

[2022-01-31 08:30] moritzjacobs opened #45 "Big `buffer` dependency"
The image component uses [`buffer`](https://www.npmjs.com/package/buffer)s global to isomorph `btoa()` ([here](https://github.com/datocms/react-datocms/blob/84503140f018a8c94d7ebb48cfe86f8e51ddedd2/src/Image/index.tsx#L5-L7)) which creates a rather large dependency in the client bundle.

If I'm not mistaken you could switch that out with something more lightweight, like [universal-base64](https://

[2022-01-31 09:14] JanStevens opened #46 "Update to latest datocms-structured-text-utils"
Hi 👋 ,

When implementing `customNodeRules` I noticed that the type guards didn't work because `react-datocms` pulls in `datocms-structured-text-utils` v1 while the latest version is v2.

Can this package be updated to use v2 or at least update the readme to install `datocms-structured-text-utils` v1, the type guards are not compatible between v1 and v2.

Regards,

[2022-01-31 09:53] stefanoverna commented on #46
Done in 3.0.1!

[2022-01-31 09:53] #46 closed

[2022-01-31 10:17] stefanoverna commented on #45
Fixed in 3.0.2, thanks @moritzjacobs for pointing that out!

[2022-01-31 10:17] #45 closed

[2022-02-02 11:58] mzampetti opened #48 "Image placeholders a11y errors"
Image placeholders use role=presentation attribute, and are marked as error by a11y verification tools.

https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_presentation_role

"The presentation role is used to remove semantic meaning from an element and any of its related child elements", but the element remains present in the accessibility tree.

The aria-hid

[2022-02-02 12:09] mzampetti opened #49 "Image placeholders and lighthouse report"
Placeholder images are marked as errors in Lighthouse report Best Practices / User Experience

![Screenshot 2022-02-02 at 12 55 43](https://user-images.githubusercontent.com/1792077/152150641-c3a25f8a-a33b-475e-ad36-c7d4f26e93f9.png)

[2022-02-03 08:47] stefanoverna commented on #49
Placeholders are so small that rounding errors are inevitable.. The correct aspect ratio in the first case is 0.76, but the placeholder should be 18.24px x 24, which is not possible :/

An alternative would be to use a div instead of an <img /> tag. Thoughts?

[2022-02-03 08:48] stefanoverna commented on #48
Makes sense!

[2022-02-03 09:46] stefanoverna commented on #48
Fixed in v3.0.3!

[2022-02-03 09:46] #48 closed

[2022-02-03 09:48] stefanoverna commented on #49
Solved v3.0.3, by only resizing the placeholder using `width: 100%` (`height: 100%` is now dropped), and ensuring that server-side thumbs are always generated with aspect ratio <= than the original image.

[2022-02-03 09:48] #49 closed

[2022-02-06 15:32] BasixKOR opened #50 "Seperate up the links/blocks properties in StructuredTextGraphQlResponse"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-datocms@3.0.6` for the project I'm working on.

This issue is a follow-up from [this forum post](https://community.datocms.com/t/bug-react-datocms-structuredtexts-incorrect-typings-on-blocks-links/2693).

Here is the diff that solved my problem:

[code]

<em

[2022-02-06 19:56] stefanoverna commented on #50
Thanks Sung! Would you mind submitting a proper PR please?

—
Stefano Verna
Founder and CEO @ DatoCMS

--- original message ---
On February 6, 2022 at 4:33 PM GMT+1 ***@***.*** wrote:

Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used patch-package to patch ***@***.*** for the project I'm working on.

This issue is a follow-up from this forum post.

Here is the diff that solved

[2022-02-07 04:40] BasixKOR commented on #50
Yes that would be a better option. It seems like the type is actually from the `datocms-structured-text-utils` so I'll make a PR there.

[2022-02-07 09:35] #50 closed

[2022-02-07 10:31] stefanoverna commented on #50
Released as 3.0.7, thanks @BasixKOR!

[2022-02-18 20:00] calirvine opened #51 "Should ResponsiveImageType include `null`?"
I don't see any other issues for this, so maybe I'm just completely missing something 😅

When using the `Image` component of react-dato, I get a type error on ResponsiveImageType, as my Graphql data is correctly typed as a union of the field type | null | undefined (as GraphQL returns null, not undefined for a field that is requested but does not exist), but the data type of `Image` is as follows:

[2022-02-19 04:43] stefanoverna commented on #51
sure, go ahead!

[2022-02-21 14:13] calirvine commented on #51
Merged in #52

[2022-02-21 14:13] #51 closed

[2022-02-23 16:10] metart43 commented on #45
@stefanoverna swtiching to [universal-base64](https://www.npmjs.com/package/universal-base64) library started causing issues on Windows based OS. Specififcaly for IE and Firefox browsers.

I get `Invalid character` error in `node_modules/universal-base64/dist/browser.js:11:12`

[2022-02-23 16:13] metart43 opened #53 "`Invalid character` error in `universal-base64` dependency."
@stefanoverna swtiching to [universal-base64](https://www.npmjs.com/package/universal-base64) lib lin [v3.0.2](https://github.com/datocms/react-datocms/compare/v3.0.1...v3.0.2#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R82) started causing issues on Windows based OS. Specififcaly for IE and Firefox browsers.

I get `Invalid character` error in `node_modules/universal-base

[2022-02-23 18:14] Jamerrone opened #54 "Issues related to TypeScript types."
Hey there 👋,

Thanks a lot for the wonderful lib.

But I am running into some issues trying to get it working with TypeScript.
While the code below works fine, I do get the following TS error message: `Object is of type 'unknown'.` at: `data={record.src.responsiveImage}`.

[code]

Which makes totally sense:
[code]

However, is there any workaround for this?

I also have a second issue. While I can

[2022-02-24 07:36] stefanoverna commented on #53
Are you able to reproduce it yourself @metart43? Can you give us the URL of a page reproducing the issue? Thanks!

[2022-02-24 07:46] stefanoverna commented on #54
Thank you!

Here you can see how you can define exactly which blocks/links are you expecting for a particular `StructuredTextGraphQlResponse`:

https://github.com/datocms/react-datocms/blob/master/src/StructuredText/__tests__/index.test.tsx#L146

If you do so, the type for the `record` argument on `renderBlock` will narrow down, and you'll be able to get rid of the TS error message.

---

Just rel

[2022-02-24 07:46] #54 closed

[2022-02-24 08:03] Jamerrone commented on #54
Thank you so much! Awesome.

[2022-02-25 13:36] matjack1 commented on #53
hey @metart43 I've tried this example: https://github.com/datocms/react-datocms/tree/master/examples/images-and-seo/vanilla-react on Windows with Firefox, but everything works fine. Can you reproduce on the example?

[2022-02-28 10:02] metart43 commented on #53
I will close the issue for right now due to the fact that I won' be able to reproduce it at the moment. I simply do not have acess to Windows based OS device.

[2022-02-28 10:02] #53 closed

[2022-03-23 03:26] kamodulin opened #55 "Inconsistent rendering for special nodes in StructuredText"
Hello,

I'm running into an issue where blocks are not rendering properly when they follow inline records and record links.

Here is an example implementation with debugging render functions:
[code]

Here is a side-by-side comparison of what I expect and what the nodes actually look like:

Expectation            |  Actual output
-------------------------|-------------------------
<img src="https:/

[2022-03-25 13:47] stefanoverna commented on #55
Hi, thanks for the deets. This is what I get, which seems correct AFAIKT:

![Screenshot 2022-03-25 at 14 46 03](https://user-images.githubusercontent.com/51573/160132730-8a3b1e07-8bfd-4e31-a3d5-240f71b2ab36.png)

Not sure how you're getting that incorrect result 😕

[2022-03-25 13:47] stefanoverna commented on #55
Feel free to reopen the ticket if you've time to give us some more information!

[2022-03-25 13:47] #55 closed

[2022-05-06 09:11] indicozy opened #56 "No Code Syntax Highlighting for StructuredText"
# Problem
Code snippets are rendering without any highlighting. The language parameter is passing, however, I'm not sure how to highlight the code.

# Information
DatoCMS Text:
![image](https://user-images.githubusercontent.com/51142471/167101427-5f11833f-0b72-4e46-a825-11f4f8eb2dc5.png)

Rendered Result:
![image](https://user-images.githubusercontent.com/51142471/167101464-2bb19d66-d140-42ce-a65f

[2022-05-06 15:31] #56 closed

[2022-05-06 19:28] indicozy commented on #56
Thank you!

[2022-06-15 16:38] buzzguy opened #57 "Setting a max-width on an Image component sets inline styles"
<img width="988" alt="image" src="https://user-images.githubusercontent.com/1154836/173880103-a06da6b3-24aa-4abd-b5fb-b464ed808cef.png">

if a max-width is set on the image component, it does something funky in mobile view

[2022-06-17 08:39] stefanoverna commented on #57
Hi, could you please provide a reproducible example with the issue?

You can fork this codesandbox if it's easier for you: https://codesandbox.io/s/lucid-surf-thc67b

Thanks!

[2022-08-18 20:52] kelenakamura opened #58 "[feature request] add fetchpriority prop for image"
https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/fetchPriority

like next/image - https://nextjs.org/docs/api-reference/next/image#priority

[2022-08-19 16:54] kiily opened #59 "Render fragment changed behavior"
Hi there,

We were trying to upgrade `react-datocms` to the latest version (currently in 1.6.3) and it seems to break the current setup we have for rendering components. We only used the `StructuredText` component so the issue is confined to that.

Specifically, the `renderFragment` function is returning a modified set of `children` which now include plain strings in arrays (whereas before everyth

[2022-08-22 10:04] stefanoverna commented on #59
Hey! Could you please share the code that was relying on this constraint, so we can take a look at it? Thanks!

[2022-08-24 12:57] moshie opened #60 "GraphQL and StructuredText Types incompatible"
## Problem

`blocks` and `links` are typed as `[String!]!` in GraphQL and this type is incompatible with the Record type defined in the structured Text component.

<img width="406" alt="Screenshot 2022-08-24 at 14 00 21" src="https://user-images.githubusercontent.com/3974301/186424889-d20b67fa-56e4-4c6f-9fb8-11c7c2cffdce.png">

This is a problem when using a [code generator](https://www.graphql-co

[2022-08-31 13:25] stefanoverna commented on #60
The `[String!]!` type happens only when a particular structured text field is configured to have NO possible links/blocks. In this case `blocks` and `links` can only be an empty array, but with GraphQL we need to specify a type for the empty array.

I suggest you to remove `blocks` and `links` from the GraphQL query on structured text fields that cannot have any link/block.

Does it make any sense

[2022-08-31 13:25] #60 closed

[2022-09-21 09:17] marcello-palmitessa opened #61 "StructuredText issue with Next.js and Preact (using next-plugin-preact)"
Hi,
in my Next.js project I'm trying an optimization as suggested in this article https://javascript.plainenglish.io/next-js-preact-f993c95a3f93 by using the package next-plugin-preact (https://github.com/preactjs/next-plugin-preact) that replace react with Preact.
Unfortunately I have this error in a page where I use the StructuredText component, and seems related on how the children are rendered

[2022-09-27 09:31] souljuse commented on #61
Hey @marcello-palmitessa, do you have a sample project that we can clone to reproduce the issue?
I created [this repo](https://github.com/souljuse/nextjs-datocms-demo-preact) from the [DatoCMS Next.js blog starter](https://www.datocms.com/marketplace/starters/nextjs-template-blog) and added the [Preact plugin](https://github.com/preactjs/next-plugin-preact). Everything seems to be working fine! 
I

[2022-09-27 09:31] #61 closed

[2022-09-27 12:45] marcello-palmitessa commented on #61
I tried to reproduce it in a codesandbox, however it works as expected.
Honestly I don't understant why it doesn't in my project. For now I'll go back to next + react.
Thanks.

[2022-09-27 21:04] dbismut opened #62 "Post transformed height in GraphQL doesn't match Imgix param maxW"
[code]

Returned height is 1079 when it should be max 600.

[2022-09-28 10:10] stefanoverna commented on #62
Hey @dbismut.. just tried on a project, and seems to work:

![Screenshot 2022-09-28 at 12 08 42](https://user-images.githubusercontent.com/51573/192752571-949ed5cf-3ece-412d-bb74-be775964605f.png)

Maybe you can share some details about your specific project by sending a request [here](https://www.datocms.com/support?topics=technical-support/ive-found-a-bug)?

I'm closing the issue here, as it's n

[2022-09-28 10:10] #62 closed

[2022-09-28 10:11] dbismut commented on #62
Wasn't sure where to report this! But indeed looks like it's related to the api. I'll get back to you asap in this thread.

[2022-09-28 10:19] dbismut commented on #62
@stefanoverna here is what is returned by Dato's API. Note that I'm talking about `max-h`, not `h` (and there I realize that I posted the wrong GraphQL request in the issue sorry, fixing this now).

[code]

[2022-10-03 12:01] dbismut commented on #62
Hey @stefanoverna did you have the time to look into this? Nothing especially urgent but just wondering if this is on track.

[2022-10-03 12:25] stefanoverna commented on #62
Should be fixed now @dbismut! 👍🏼

[2022-10-03 12:36] dbismut commented on #62
@stefanoverna Indeed! Thanks a lot :)

[2022-10-05 02:38] EdsonLucasbd opened #63 "ToMetaTagsType no longer exists in react-datocms"
Hello guys,

I'm following the [example ](https://github.com/datocms/react-datocms/blob/master/examples/query-subscription/typescript/src/query.ts) of using SEO with typescript but when trying to import the type "ToMetaTagsType", which is used in the example, I get an error saying that it no longer exists in the library, what would be the ideal way to define the types of meta tags ?

[2022-10-05 07:56] stefanoverna commented on #63
We've updated the [example](https://github.com/datocms/react-datocms/blob/master/examples/query-subscription/typescript/src/query.ts#L79-L87), thanks for noticing! :)

[2022-10-07 22:31] kelenakamura opened #64 "[feature request] ability to do art direction images"
ability to set a specific <source> to have separate images or aspect ratios for say mobile vs desktop.

specific use case - a hero image (landscape orientation) say 1400x400 or something. and for mobile ie <source media="(max-width: 767px)" ...> can specify via focal points and aspect ratio to Imgix to crop the photo to portrait ie 300x400.

right now in the graphql query we can also only specify

[2022-10-09 12:29] dbismut commented on #58
I came here for the same reason but it looks like the feature isn't widely supported yet thought.

[2022-10-29 14:03] timvandevelde commented on #64
@kelenakamura you can do multiple requests to your image by naming the queries. I've created a responsiveImage components which loads two Image variants based on breakpoints. This is an example graphql query
[code]

[code]

[2022-10-29 14:04] timvandevelde commented on #58
+1

[2022-10-31 11:03] illarionvk opened #65 "Export ImagePropTypes type"
We have a custom wrapper component that uses the `Image` component if the image is a responsive Imgix image and uses a different component if it's an SVG file.

It would be convenient if I could import and use the ImagePropTypes type in my component's props.

https://github.com/datocms/react-datocms/blob/202e04b0ae752c29309ca46e4bba25a906021dbf/src/Image/index.tsx#L38

[2022-10-31 13:21] stefanoverna commented on #65
Version 3.1.4 exports `ImagePropTypes`! 👍🏼

[2022-10-31 13:21] #65 closed

[2022-11-11 14:19] stefanoverna commented on #58
Added in v4! https://github.com/datocms/react-datocms/releases/tag/v4.0.0

[2022-11-11 14:19] #58 closed

[2022-11-11 14:20] #59 closed

[2022-11-11 14:20] #57 closed

[2022-11-11 18:31] bebejane opened #66 "Styling placeholder"
I'm styling my image with pictureStyle prop, changing the size of the image. This causes problem with the placeholder not matching in size. Would it be possible to add a prop for styling placeholder image or maybe the picture style could be applied to the placeholder as well.

[2022-11-11 18:57] stefanoverna commented on #66
Maybe it would be better to apply the pictureStyle prop also to the placeholder?

—
Stefano Verna
Founder and CEO @ DatoCMS

--- original message ---
On November 11, 2022 at 7:31 PM GMT+1 ***@***.*** wrote:

I'm styling my image with pictureStyle prop, changing the size of the image. This causes problem with the placeholder not matching in size. Would it be possible to add a prop for styling place

[2022-11-11 19:03] bebejane opened #67 "[bug] Image onLoad does not trigger on reload/cached images"
When reloading page with the Image component the onLoad handler does not trigger when using Next.js. See issue here [https://stackoverflow.com/questions/59787642/nextjs-images-loaded-from-cache-dont-trigger-the-onload-event](url)

[2022-11-11 19:15] bebejane commented on #66
Yes that would be the easiest solution but it might cause unwanted stying for others possibly. For my case it would work.

[2022-11-14 09:46] stefanoverna commented on #66
Can I ask for the exact use case? What are you trying to achieve? How are you trying to change the size of the image? For that you should use the `layout` prop, or `style`.. 😕

[2022-11-14 10:07] #67 closed

[2022-11-15 08:08] bebejane commented on #66
I'm changing styling of the image based on scroll position. Is there another way to do it?

[2022-11-15 09:06] stefanoverna commented on #66
Relased placeholderStyle and placeholderClassName in v4.0.5! 👍🏼

[2022-11-15 09:06] #66 closed

[2022-11-16 11:33] cwrichardson opened #68 "Seeing duplicate key errors in StructuredText component"
Not sure if anyone else is seeing this, but sometime (I think very recently) I've started getting "Encountered two children with the same key, `t-0`" warnings in my dev environment.

For the life of me, I don't think this was there a month ago, which was the last time we shipped to production, but I've gone through my entire git history until long before that, and I keep getting the error. My susp

[2022-11-16 11:56] stefanoverna commented on #68
Could you also provide us a sample of a structured text value that reproduces the issue?

[2022-11-17 15:03] stefanoverna commented on #68
Just tried... cannot see any error in the console.. :/

https://codesandbox.io/s/structured-text-sample-27e1m0

Maybe you can tweak the sandbox code until you can reproduce the issue?

[2022-11-18 11:57] moritzjacobs opened #69 "Problem with using new URL in Image.tsx"
Hi! Thanks for your work on this package!

I was updating to v4 and wanted to try to reduce the gql data from our query and let the component handle the srcSet building, alas it produces a problem for us:

You're using a whatwg URL to [modify search params](https://github.com/datocms/react-datocms/blob/master/src/Image/index.tsx#L160-L178) on a src URL. In our projects we're masking the Dato CDN b

[2022-11-22 13:54] stefanoverna commented on #69
Fixed in 4.0.7! :+1:

[2022-11-22 13:54] #69 closed

[2022-11-23 07:45] moritzjacobs commented on #69
Thank you!